nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 20px;
    color: blue;
    padding: 0 10px;
}
nav li:hover{
    background-color: bisque;
}
nav li a{
    text-decoration: none;
    font-size: 30px;
}
nav > ul li:hover > ul{
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
}
.dropdown li{
    padding: 0;
    margin: 0;
}